<%- include("./partials/header.ejs") -%>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-light">
        <img src="/assets/edit_note_48dp_FILL0_wght400_GRAD0_opsz48.png" alt="Blog-Book" width="40" height="40">
        <span class="fs-4 mx-2">Your-Blogs</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="btn btn-outline-light">Home</a></li>
        <li class="nav-item">

          <form action="/addBlog" method="get">
            <input type="hidden" name="user_id" value="<%= id%>">
            <button class="btn btn-light ms-3" type="submit">Add new blog</button>
          </form>

        </li>
      </ul>
    </header>
  </div>

  <div class="container">
    <div class="row">
      <% for(let i=0;i<blogs.length;i++) { %> 
        <div class="col-sm-6 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h5 class="card-title fs-3 mb-0"> <%= blogs[i].title %></h5>
                <div class="duration"> <%= blogs[i].dt %></div>
              </div>

              <p class="card-text lh-sm"> <%= blogs[i].blog %></p>
              
              <div class="d-flex align-items-center">
                <form action="/editBlog" method="get">
                  <input type="hidden" name="id" value="<%= blogs[i].id%>">
                  <input type="hidden" name="userID" value="<%= blogs[i].user_id%>">
                  <button class="btn btn-outline-info">edit</button>
                </form>

                <form action="/deleteBlog" method="delete">
                  <input type="hidden" name="id" value="<%= blogs[i].id%>">
                  <input type="hidden" name="userID" value="<%= blogs[i].user_id%>">
                  <button class="btn btn-outline-danger ms-2">delete</button>
                </form>
              </div>

            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

<%- include("./partials/footer.ejs") -%>